# === Maven / Java ===
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# === IDEs ===
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# === Sistema Operativo ===
.DS_Store
Thumbs.db

# === Configuración sensible ===
.env
application-local.properties
application-secrets.yml

# === Logs ===
*.log

# === Node (Husky) ===
node_modules/
